# Python bytecode
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.venv/

# Flask instance folder
instance/

# Environment variables
.env

# VSCode or editor config
.vscode/

# Mac system file
.DS_Store
